In [2]:
print("Hello World")
print('Hello')

Hello World
Hello

In [5]:
# Single line & Multi-line comments:-

'''
If u want to achive ur goal in ur life ,
then now the time is learn and
make ur future as per u want...

@ multilines @

'''

print("Hello")

Hello

In [6]:
#variable Declaration:-
a=10   #(No need to mention data type)
type(a)

int

In [7]:
print(a)

10

In [8]:
tenth=10
b=40
c="silan"

In [9]:
type(c)

str

In [11]:
first_name="Soyang"
middle_name="Samparna"
print(first_name,middle_name)

Soyang Samparna

In [12]:
## Integers
a=10
type(a)

int

In [13]:
a+10

20

In [14]:
a*10

100

In [15]:
a/10

1.0

In [16]:
a%10

0

In [17]:
print(type(a))

<class 'int'>

In [18]:
a=10
b=20
print(a+b)

30

In [19]:
# Floating
a=190.5
a

190.5

In [21]:
print(type(a))

<class 'float'>

In [25]:
#Type Casting:-
#(It is a method to convert the python variable datatype into a certain data type in order to the operation required to be performed by users)

int(a)

190

In [26]:
float(b)

20.0

In [27]:
# Boolean:- (TRUE ? FALSE)
a1=True  #(here "TRUE" is a predefined boolean keyword, who specifies the boolean values)
b1=False #(Predefined Keyword)

In [28]:
type(a1)

bool

In [35]:
a1 and b1
#or
a1 & b1

False

In [36]:
a1 or b1

True

In [37]:
a1 | b1

True

In [40]:
#Strings:-

name1="soyang"

print(name1)

print(type(name1))

soyang
<class 'str'>

In [43]:
# Concatenation:-

name1 + " " +"Samparna"

'soyang Samparna'

In [44]:
# Concatenation with another data type:-
name1 + 1

TypeError: can only concatenate str (not "int") to str

In [45]:
# If we'll want to concatenation with 1 then we need to convert int(1) to str(1):-

name1 + str(1)

'soyang1'

In [1]:
# Complex Numbers:-

j=1.0 - 2.3j #(Here one is real no and another is imaginary no)
print(j)

(1-2.3j)

In [2]:
#Print Real & Imaginary no:-
print(j.real, j.imag)

1.0 -2.3

In [3]:
#Dynamic Typing:- (we can change the variable's value with different data types in pythin so that it's called dynamic typing )
a=10
a="silan"

In [4]:
#Strong Typing:-
a+ "1"

'silan1'

In [6]:
# If we'll add (a+1) It'll give error, so we need to covert 1 into str
a+str(1)

'silan1'

In [9]:
#String Formatting:-

a=100
print("The value is:-", a)

The value is:- 100

In [2]:
First_name = "Soyang"
Last_name = "samparna"
print("The first name is {0} and Last name is {1}". format(First_name,Last_name))

The first name is Soyang and Last name is samparna

In [3]:
#As per fotmat it'll show the result with indexing:-
print("The first name is {0} and Last name is {1}". format(Last_name,First_name))

The first name is samparna and Last name is Soyang

In [4]:
print("The first name is {1} and Last name is {0}". format(Last_name,First_name))

The first name is Soyang and Last name is samparna

In [5]:
print("The first name is {1} and Last name is {0}". format(First_name,Last_name))

The first name is samparna and Last name is Soyang

In [17]:
print("The first name is {a} and Last name is {b}". format(b=Last_name,a=First_name))

The first name is Soyang and Last name is samparna

In [18]:
# Input Type:- 
input("Enter the name")

Enter the namesilan

'silan'

In [19]:
a=input("Enter the  number A")
b=input("Enter the  number B")
print(a+b)

# Now a & b are string values so , output'll be as a concate type

Enter the  number A1
Enter the  number B3
13

In [6]:
# If we want to add value as numeric type then:-
a=input("Enter the  number A:-") #[Here input() takes value as a string type by default]
b=input("Enter the  number B:-")
print("The result is:-",int(a)+int(b)) # [So here we'll convert the variable to integer]

Enter the  number A:-5
Enter the  number B:-7
The result is:- 12

In [7]:
# An another way input value'll be integer type in python:-
a=int(input("Enter the  number A:-"))
b=int(input("Enter the  number B:-"))
print("The result is:-",a+b)

Enter the  number A:-8
Enter the  number B:-7
The result is:- 15